.container {
    max-width: 800px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border-radius: 6px;
    border: 1px solid #555;
}

.addBtn {
    padding: 8px 12px;
    background: #444;
    color: white;
    border-radius: 6px;
}

.saveBtn {
    background: #0073ff;
    color: white;
    padding: 10px 14px;
    border-radius: 6px;
}

.deleteBtn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.deleteBtn:hover {
    background-color: #c9302c;
}

.cover {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}