.wrap {
    display: grid;
    gap: 16px;
    padding: 18px
}

.cover {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 12px
}

.list {
    margin: 0;
    padding-left: 18px
}