.card {
    display: flex;
    gap: 12px
}

.cover {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px
}

.desc {
    opacity: .8
}

.body {
    display: flex;
    flex-direction: column;
    gap: 8px
}